---
import Frame from "../layout/frame.astro";
import ProductCard from "../components/ProductCard.astro";

// Fetch all products
const allData = await fetch(
  "https://hkltapzneruelglyxqhl.supabase.co/rest/v1/Recraftcph?select=*",
  {
    method: "GET",
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhrbHRhcHpuZXJ1ZWxnbHl4cWhsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTU1OTMyOTksImV4cCI6MjAzMTE2OTI5OX0.FQkPXh4GnFu6SnWkHdluQYFqHcG2cY2eE5Q8AnBtOlw",
    },
  }
).then((res) => res.json());

// Get unique categories and count of products in each category
const categories = [...new Set(allData.map((item) => item.category))].map(
  (category) => {
    return {
      name: category,
      count: allData.filter((item) => item.category === category).length,
    };
  }
);
---

<Frame pageTitle="Recraftcph - Produkter">
  <div class="center-text">
    <h3>Produkter</h3>
    <p>Håndlavet, lokalt, alt ud af kasseret læder</p>
    <p>Vi har {allData.length} produkter</p>
  </div>
  <div class="sortingBox">
    {
      categories.map((category) => (
        <p>
          {category.name} ({category.count})
        </p>
      ))
    }
  </div>
  <section class="product-grid">
    {
      allData.map((item) => {
        return (
          <a href={`/${item.slug}`}>
            <ProductCard data={item} />
          </a>
        );
      })
    }
  </section>
</Frame>

<style>
  main {
    padding-top: 46px;
  }
  .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    max-width: 1200px; /* Adjust this value as needed */
    margin: 0 auto;
  }
  .center-text {
    text-align: center;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  .sortingBox {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    max-width: 1200px; /* Same as .product-grid */
    margin: 0 auto 2rem auto; /* Adds a 2rem gap at the bottom */
  }

  .sortingBox p {
    border: 1px solid #ccc;
    padding: 1rem;
    text-align: center;
  }
</style>
